.hero {
    position: relative;
    background-image: url('../../assets/heroBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.hero .tagline {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5rem;
    padding: 2rem;
}

.hero .p1 {
    width: 30%;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-40%, -20%);
}

.hero .p1 img,
.hero .p3 img {
    height: 2rem;
    width: 2rem;
}

.hero .p2 {
    width: 30%;
    position: absolute;
    bottom: 30%;
    transform: translate(0, -30%);
    left: 4rem;
}

.hero .p3 {
    width: 25%;
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    position: absolute;
    bottom: 6rem;
    right: 2rem;
}

.hero .label {
    position: absolute;
    right: 5%;
    top: 15%;
    height: 23rem;
    width: 23rem;
    object-fit: contain;
}

.hero .more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    color: #4AAB3D;
    font-weight: 600;
    width: 9rem;
    height: 9rem;
    background-color: #fff;
    border: 5px solid #4AAB3D;
    border-radius: 50%;
    position: absolute;
    bottom: -5rem;
    right: 10%;
    transform: translate(30%, 0);
}

.hero .more .arrow {
    height: 2.5rem;
    width: 2.5rem;
}

@media(width<=568px) {
    .hero .tagline {
        padding: 1rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .hero p {
        font-size: .8rem;
    }

    .hero .p1 {
        width: 80%;
        top: 15%;
        left: 15%;
        transform: translate(-15%, -15%);
    }

    .hero .p2 {
        display: none;
    }

    .hero .p3 {
        bottom: 25%;
        transform: translate(0, -25%);
        right: 0;
        width: 60%;
    }

    .hero .label {
        right: 5%;
        top: 35%;
        height: 18rem;
        width: 18rem;
    }

    .hero .more {
        font-size: .7rem;
        gap: .5rem;
        width: 6rem;
        height: 6rem;
        border: 3px solid #4AAB3D;
        position: absolute;
        bottom: -3rem;
        right: 10%;
        transform: translate(30%, 0);
    }

    .hero .more .arrow {
        height: 1.5rem;
        width: 1.5rem;
    }
}